[submodule ".config/tmux/tpm"]
	path = .config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/yazi/assets/catppuccin-yazi"]
	path = .config/yazi/assets/catppuccin-yazi
	url = https://github.com/catppuccin/yazi
[submodule ".config/yazi/assets/catppuccin-syntax-highlighting-bat"]
	path = .config/yazi/assets/catppuccin-syntax-highlighting-bat
	url = https://github.com/catppuccin/bat
[submodule ".config/bat/assets/catppuccin"]
	path = .config/bat/assets/catppuccin
	url = https://github.com/catppuccin/bat
[submodule ".config/lazygit/assets/lazygit"]
	path = .config/lazygit/assets/lazygit
	url = https://github.com/catppuccin/lazygit
[submodule ".config/zsh/assets/ohmyzsh"]
	path = .config/zsh/assets/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh/
