[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 43486986+sudoAlphaX@users.noreply.github.com
	name = Alpha
	signingkey = E61724645DD4AC78!
[commit]
	gpgsign = true
[help]
	autocorrect = 25
[push]
	autoSetupRemote = true
