[submodule ".config/tmux/tpm"]
	path = .config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/rofi/assets/rofi-git"]
	path = .config/rofi/assets/rofi-git
	url = https://www.github.com/sudoalphax/rofi
[submodule "assets/utilities/arrpc"]
	path = assets/utilities/arrpc
	url = https://github.com/OpenAsar/arrpc
[submodule "omz"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "assets/omz-custom/plugins/zsh-autocomplete"]
	path = assets/omz-custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "assets/omz-custom/plugins/zsh-syntax-highlighting"]
	path = assets/omz-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "assets/omz-custom/themes/powerlevel10k"]
	path = assets/omz-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".config/btop/btop"]
	path = .config/btop/btop
	url = https://github.com/catppuccin/btop
[submodule ".config/obs-studio/assets/obs"]
	path = .config/obs-studio/assets/obs
	url = https://github.com/catppuccin/obs
[submodule ".config/yazi/assets/catppuccin-yazi"]
	path = .config/yazi/assets/catppuccin-yazi
	url = https://github.com/catppuccin/yazi
