[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 19459048-sudoAlphaX@users.noreply.gitlab.com
	name = Alpha
	signingkey = E61724645DD4AC78!
[commit]
	gpgsign = true
[help]
	autocorrect = 25
[push]
	autoSetupRemote = true
[credential "https://gitlab.com"]
	helper = 
	helper = !/usr/bin/glab auth git-credential
