[Unit]
Description=Auto AP Service
After=network.target network-online.target
Before=sleep.target shutdown.target

[Service]
Type=simple
ExecStart=/usr/local/bin/auto-ap
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
