[Unit]
Description=Add default route for tun device %i
After=sys-subsystem-net-devices-%i.device
Requires=sys-subsystem-net-devices-%i.device

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sh -c 'until ip link show %i | grep -q "state UP"; do sleep 1; done'
ExecStart=/usr/bin/ip route add default dev %i metric 100
ExecStop=/usr/bin/ip route del default dev %i
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
