[Unit]
Description=Add default route for tun device %i
After=sys-subsystem-net-devices-%i.device
Requires=sys-subsystem-net-devices-%i.device

[Service]
Type=oneshot
ExecStart=/usr/bin/ip route replace default dev %i metric 100
ExecStop=/usr/bin/ip route del default dev %i
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
