[Unit]
Description=Conservation mode on (cap at 80%) at 15:30

[Timer]
OnCalendar=Mon..Fri *-*-* 15:30:00
Persistent=true

[Install]
WantedBy=timers.target
