/* @import "oxocarbon.css"; */
@import "mocha.css";

* {
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
    color: @text;
}

window#waybar {
    background-color: transparent;
}

#window {
    margin: 2;
    padding-left: 8;
    padding-right: 8;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    border-bottom: 2px solid @white;
}

#workspaces button {
    padding: 0 1px;
    background-color: transparent;
    color: @white;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid @white;
}

#workspaces button.active {
    background-color: @white;
    border-bottom: 3px solid @white;
}

#workspaces button.urgent {
    color: @white;
    animation-name: urgent;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes urgent {
    to {
        color: @red;
        border-bottom: 3px solid @red;
    }
}

#idle_inhibitor,
#tray,
#privacy,
#network,
#bluetooth,
#pulseaudio,
#clock,
#battery,
#backlight,
#cpu,
#memory,
#disk,
#temperature,
#custom-temperature,
#backlight,
#wireplumber,
#tray,
#mode,
#scratchpad {
    margin: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

#clock {
    color: @white;
    border-bottom: 2px solid @white;
}

#clock.date {
    color: @yellow;
    border-bottom: 2px solid @yellow;
}

#pulseaudio {
    color: @lavender;
    border-bottom: 2px solid @lavender;
}

#backlight {
    color: @peach;
    border-bottom: 2px solid @peach;
}

#cpu {
    color: @teal;
    border-bottom: 2px solid @teal;
}

#memory {
    color: @pink;
    border-bottom: 2px solid @pink;
}

#temperature {
    color: @green;
    border-bottom: 2px solid @green;
}

#custom-temperature.critical {
    color: @green;
    border-bottom: 2px solid @green;    
    animation-name: blink;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-temperature.high {
    color: @peach;
    border-bottom: 2px solid @peach;
}

#custom-temperature {
    color: @green;
    border-bottom: 2px solid @green;
}

#cpu.high,
#memory.high {
    color: @peach;
    border-bottom: 2px solid @peach;
}

#cpu.critical {
    color: @teal;
    border-bottom: 2px solid @teal;    
    animation-name: blink;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.critical {
    color: @pink;
    border-bottom: 2px solid @pink;    
    animation-name: blink;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth {
    color: @blue;
    border-bottom: 2px solid @blue;
}

#network {
    color: @mauve;
    border-bottom: 2px solid @mauve;
}

#idle_inhibitor {
    color: @green;
    border-bottom: 2px solid @green;
}

#idle_inhibitor.activated {
    color: @red;
    border-bottom: 2px solid @red;
}

#battery {
    color: @green;
    border-bottom: 2px solid @green;
}

#battery.warning:not(.charging) {
    color: @green;
    border-bottom: 2px solid @green;
    animation-name: warn;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes warn {
    to {
        color: @red;
        border-bottom: 2px solid @red;
    }
}

@keyframes blink {
    to {
        color: @white;
        background-color: red;
        border-bottom: 2px solid @red;
    }
}

#battery.critical:not(.charging) {
    color: @green;
    border-bottom: 2px solid @green;    
    animation-name: blink;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;        
}


#battery.charging,
#battery.plugged {
    color: @green;
    border-bottom: 2px solid @green;
}


#privacy {
    color: @white;
    border-bottom: 2px solid @white;
}

#tray {
    color: @white;
    border-bottom: 2px solid @white;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

