[Unit]
Description=Start KDE Connectd

[Service]
Type=simple
ExecStart=/usr/bin/kdeconnectd -platform offscreen
Restart=on-failure

[Install]
WantedBy=default.target
