polkit.addRule(function (action, subject) {
  if (action.id.indexOf("org.freedesktop.login1.inhibit-") === 0 &&
    subject.isInGroup("inhibit")) {
    return polkit.Result.YES;
  }
});
